.container {
    height: 100px;
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    justify-content: center;
    background-color: #e5383b;
    color: #fff;
    font-family: Calibri, sans-serif;
    font-size: 2rem;
}